USE [BRERP_RPH]
GO
/****** Object:  UserDefinedFunction [dbo].[f_getUserWithPermission]    Script Date: 11/27/2025 3:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[f_getUserWithPermission](@permissionId BIGINT)
RETURNS TABLE
AS
RETURN
(
    SELECT DISTINCT u.Id, u.Name, u.Email
    FROM t_Users u
    WHERE u.DeletedOn IS NULL
      AND u.Id <> 1  -- Exclude system admin
      AND (
          -- Via roles
          EXISTS (
              SELECT 1
              FROM t_ModelRoles mr
              INNER JOIN t_RolePermissions rp ON mr.role_id = rp.role_id
              WHERE mr.model_id = u.Id
                AND mr.model_type = 'UserID'
                AND rp.permission_id = @permissionId
          )
          OR
          -- Direct permission
          EXISTS (
              SELECT 1
              FROM t_ModelPermissions mp
              WHERE mp.model_id = u.Id
                AND mp.model_type = 'UserID'
                AND mp.permission_id = @permissionId
          )
      )
);
